.section-login{
    margin: 0 auto;
    display: block;
    background-color: #c7eefd;
    width: 50%;
    transform: translate(0, 50%);
    padding: 4% 1%;
}
.section-login *{
    /* text-align: center; */
    margin-left: 10%;
}
button{
    margin-top:1.5%;
    border: 0;
    padding: 1% 2%;
    background-color: #85d4f4;
}